@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Calibri';
  src: url('./assets/fonts/calibri-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Calibri', sans-serif;
  font-size: 12pt;
}